<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <br>
    <h1>Welcome to My Expense Tracker!</h1>
    <br>
    <p>Budget your income, count and account for your expenses in a simplified manner!</p>
    <br>
    <a href="/login" class="login-btn">Login</a>
    <br>
    <a href="/register" class="register-btn">Register</a>
    <br>
</body>
</html>
